.plugin_opendxp_datahub_statusbar {
    background-color: #eaeaea;
    border-width: 1px 0 0 0;
    border-color: #d0d0d0;
}

.plugin_opendxp_datahub_status {
    background: url(/bundles/opendxpadmin/img/icon/cog_go.png) no-repeat !important;
}
